{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Acerca de...</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatem similique omnis sed quibusdam optio atque officia expedita quidem nihil perspiciatis, deserunt aperiam? Sed voluptates ipsam nostrum assumenda explicabo temporibus.</p>
    </div>
    <div class="col-4">
        <img src="assets/images/Captura.png" class="img-thumbnail">
    </div>
</div>
{{> footer}}